*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

:root{
    --color-title:#00A7E1;
    --light:#ffffff;
    --blue-gradient-color:rgb(225,0,201);
    --blue-gradient:linear-gradient(90deg, rgba(0,167,225,1) 0%, rgba(72,208,255,1) 100%);;
    --accent:#49CFFD;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    padding: 0 5%;
}

.logo{
    width: 130px;
    height: 80px;
    background-image: url(/resources/zt\ png.png);
    background-position: center;
    object-fit: fill;

}

.navbar_menu{
    display: flex;
    gap: 15px;
    list-style: none;

}

.navbar_menu a{
    color: black;
    text-decoration: none;
    font-weight:500;
}

.btn_navbar{
    background: var(--blue-gradient);
    background-color: var(--blue-gradient-color);
    border: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}

.btn_navbar a{
    color: white;
    text-decoration: none;
}

.header{
    height: 80vh;
    display: flex;
    padding: 0 5%;
    align-items: center;
}

.info h1{
    font-size: 3.3rem;
    text-transform: uppercase;
    color: var(--color-title);
}

.btn_SaberMas{
    background: var(--blue-gradient);
    background-color: var(--blue-gradient-color);
    border: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    margin-top: 3%;
}

.btn_SaberMas a{
    color: white;
    text-decoration: none;
}

.circle{
    height: 100px;
    width: 100px;
    background-color: var(--accent);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container{
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
}

.circle img{
    width: 50px;
    height: 50px;
}

.section1{
    padding: 0 5%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section1 h1{
    color: var(--color-title);
    font-size: 2.5rem;
    margin-bottom: 5%;
}

.cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.card-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 20ch; */
    text-align: center;
    padding: 0 5%;
}




.card{
    width: 25%;
    height: 70vh;
    box-shadow: -5px 11px 8px 0px #00000040;
    border-radius: 30px;
    padding-top: 5%;
}

